body {
    background: #eee;
    text-align: center;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main, #chats {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 35px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    box-sizing: border-box;
    display: flex;
    gap: 30px;
    padding: 20px;
    margin-bottom: 5px;
    border: 1px solid white;
}

p {
    margin: 0;
    padding: 0;
}

.information-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;

}

.profile-pic {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #45A5BF;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-weight: 800;
}

.user-info-container {
    display: flex;
}

.text-container {
    margin-bottom: 35px;
}


.chat .room {
    font-weight: 800;
}

.chat .username {
    font-weight: 1;
    color: #767676;
}

.chat:hover {
    border: 1px solid black;
    cursor: pointer;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}



/* <div class="chat">
<div class="circle">
  <%= username.charAt(0).toUpperCase() %>
</div>
<div>
  <div class="user-info-container">
    <p><span>Room: <%= roomname %> <span>@<%= username %></span></span></p>
  </div>
  <div class="text-container">
    <p><%= text %></p>
  </div>
</div>
</div> */